* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

body {
    background: #132043;
}

.background-container {
    margin: 0;
    padding: 0;
    background: linear-gradient(245.59deg, #132043 0%, #7071E8 28.53%, #1F4172 75.52%);
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #F1B4BB;
}

.navlist {
    display: flex
}

.navlist a {
    color: #F1B4BB;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid #F1B4BB;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

@media (max-width: 1710px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }
    .icons {
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down {
        right: 3%;
        transition: .2s;
    }
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .main-image img {
        width: 100%;
        height: auto;
    }
    .main-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }
    .main-text h5 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }
    .main-text {
        padding-top: 115px;
    }
    .main-img {
        text-align: center;
    }
    .main-image img {
        width: 560px;
        height: auto;
    }
    .main {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons {
        display: none;
    }
    .scroll-down {
        display: none;
    }
}

@media (max-width: 1050px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #132043;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a {
        margin-left: 0;
        display: block;
        margin: 12px 0;
    }
    .navlist.open {
        right: 0;
    }
}

@media (max-width: 790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 680) {
    .main-img img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 580px) {
    .main-img img {
        width: 80%;
        height: auto;
    }
    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
}

@media (max-width: 440px) {
    .main-img img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 380px) {
    .main-img img {
        width: 80%;
        height: auto;
    }
    .main-text h1 {
        font-size: 50px;
        margin: 0 0 30px;
    }
    .main-text h5 {
        font-size: 20px;
        margin-bottom: 25px;
    }
}